<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cd5269a2-50c6-4493-891a-fa404c76ff65/resourceGroups/sqldatabaseresourcegrp/providers/Microsoft.Web/sites/hotelappi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hotelappi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>40443cd1-5eb4-43d1-b035-3becd8ca4755</ProjectGuid>
    <PublishUrl>https://hotelappi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$hotelappi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>